body {
   font-family: Verdana, Helvetica, sans-serif;
   background-color: #EDEDED;
   text-align: center;
}

header {
	position: relative;
    width: 100%;
    height: 100%;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    background-image: url("img/introImage.jpg");
    color: #000;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div {
	margin: 110px;
	width: -webkit-fit-content;
	height: -webkit-fit-content;
	width: -moz-fit-content;
	height: -moz-fit-content;
	display: inline-block;
	vertical-align: middle;
}


#main_title {
	color: #F7F7F7;
	font-size: 75px;
}

#main_title_subtext {
	color: #FFFFFF;
	font-size: 30px;
}

body {
	margin: 0px;
}