body {
   font-family: Verdana, Helvetica, sans-serif;
   background-color: #EDEDED;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

header {
	position: relative;
    width: 100%;
    height: 100%;
    min-height: auto;
    text-align: center;
    vertical-align: middle;
    background-image: url("img/introImage.jpg");
    color: #000;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

textarea {
	resize: none;
}

#page-title {
	margin: 150px;
	width: -webkit-fit-content;
	height: -webkit-fit-content;
	width: -moz-fit-content;
	height: -moz-fit-content;
	display: inline-block;
	vertical-align: middle;
}


#main_title {
	color: #F7F7F7;
	font-size: 75px;
}

#main_title_subtext {
	color: #FFFFFF;
	font-size: 30px;
}

.blog-paragraph {
	color: #262626;
	font-size: 30px;
}

.blog-subparagraph {
	color: #262626;
	font-size: 30px;
}

.container {
	height: 100%;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: left;
}

.page-headers {
	text-align: left;
	font-size: 40px;
	color: #262626;
}

.warning-message{
	color: red;
	text-align: left;
	font-size: 25px;
}

#user-greeting{
	text-align: right;
	font-size: 25px;
}

#older-posts {
	text-decoration: none;
	font-size: 25px;
	color: #404040;
	margin-bottom: 25px;
}

#home-page {
	text-decoration: none;
	font-size: 25px;
	color: #404040;
	margin-bottom: 25px;
}

.section-separator {
	margin-top: 35px;
	margin-bottom: 35px;
}

.post-date {
	font-size: 25px;
}

#view-posts{
	text-align: middle;
	text-size: 35px;
}

form {
	margin-top: 35px;
	margin-bottom: 35px;
}

body {
	margin: 0px;
}